instructions.txt

/resources/scripts/setupVariablesYev.json

/resources/layers/nodejs/node_modules/
/resources/layers/nodejs/.serverless/
/resources/layers/nodejs/.env.dev
/resources/layers/nodejs/serverless.yev.yml

/resources/layers/nodejs/common_node_modules/nodejs/node_modules/

/services/nodejs/node_modules/

/services/nodejs/monitoring_agents/.serverless/
/services/nodejs/monitoring_agents/.env.dev
/services/nodejs/monitoring_agents/serverless.yev.yml

/services/nodejs/monitoring_security/.serverless/
/services/nodejs/monitoring_security/.env.dev
/services/nodejs/monitoring_security/serverless.yev.yml

/services/nodejs/monitoring_service/.serverless/
/services/nodejs/monitoring_service/.env.dev
/services/nodejs/monitoring_service/serverless.yev.yml

/ui/monitoring-service/node_modules
/ui/monitoring-service/.env.dev
/ui/monitoring-service/yarn.lock