body {
	overflow: auto;
	word-break: break-all;
}

.modal-dialog {
	max-width: 80%;
}

.my-fs-1 {
	font-size: 1.5rem;
}

.mr-1 {
	margin-right: 0.4rem;
}

.mr-2 {
	margin-right: 0.8rem;
}

.ml-1 {
	margin-left: 0.4rem;
}

.ml-2 {
	margin-left: 0.8rem;
}

/* .mt-0 {
	margin-top: 0;
} */

.cursor-pointer {
	cursor: pointer;
}

.selected-list-box {
	border-bottom-color: rgb(var(--bs-info-rgb));
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.btn-filter.btn-primary {
	background-color: #CCCCFF !important;
	border-color: #CCCCFF !important;
	color: #000090 !important;
}

.btn-filter.btn-primary:hover {
	background-color: #000080 !important;
	border-color: #000080 !important;
	color: #EEE !important;
}
.btn-filter.btn-primary.selected-filter-button:hover {
	color: #EEE !important;
}

.btn-filter.btn-primary.selected-filter-button {
	/* border-bottom-color: var(--bs-green); */
	border-bottom-color: #000080 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 3px !important;
	color: #000080 !important;
}

.custom-scroll {
	height: 100% !important;
	width: 100% !important;
}

.custom-scroll>div:first-child, .main-scroll>div:first-child {
	margin-right: -17px !important;
	margin-bottom: -17px !important;
}

.custom-scroll>div:first-child {
    margin: -7px !important;
    padding: 7px !important;
    position: relative !important;
}

.fs-filter {
	font-size: 0.8rem;
}

.selected.filter-link {
	/* color: var(--bs-success); */
	color: #000080;
}
.filter-link {
	/* color: var(--bs-primary); */
	color: #CCCCFF;
}

.blockDashContainer {
	width: 100%;
	height: 92vh;
	overflow: scroll;
	margin-top: 80px;
	display: flex;
}

.blockDashTitleBlock {
	background-color: #000080;
	padding: 5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.blockDashColumnTitle {
	color: #EEE;
	font-size: clamp(1rem, 1vw, 1.2rem);
	font-weight: 500;
	margin-bottom: 0px;
}

.blockDashColumn {
	width: 23.4%;
	height: auto;
	margin-left: 0.6%;
}

.blockDashDrip {
	width: 100%;
	height: 80px;
}

.blockDashBlock-high {
	width: 30%;
	height: 40px;
	/* background-color: #E71A1A; */
	background-color: #851415;
}
.blockDashBlock-medium {
	width: 30%;
	height: 40px;
	/* background-color: #C55D06; */
	background-color: #FF8000;
}
.blockDashBlock-low {
	width: 30%;
	height: 40px;
	/* background-color: #E3B808; */
	background-color: #EEDD00;
}

.border-high {
	/* border-color: #E71A1A; */
	border-color: #851415;
	border-style: solid;
	border-width: 2px;
	margin-top: 2px;
}
.border-medium {
	/* border-color: #C55D06; */
	border-color: #FF8000;
	border-style: solid;
	border-width: 2px;
	margin-top: 2px;
}
.border-low {
	/* border-color: #E3B808; */
	border-color: #EEDD00;
	border-style: solid;
	border-width: 2px;
	margin-top: 2px;
}

.blockDashTenantBlock {
	width: 70%;
	justify-content: space-between;
	padding-left: 8%;
	align-items: center;
	display: flex;
	background-color: #CCCCFF;
}
.blockDashTenantName {
	color: #444;
	font-size: clamp(0.8rem, 0.8vw, 0.9rem);
	font-weight: 700;
	text-align: start;
	margin-bottom: 0px;
}

.blockDashParty {
	height: 70vh;
	width: 50vw;
	margin-left: 17vw;
	margin-top: 8vh;
}

.text-primary.severity-text-high {
	color: #851415 !important;
	text-transform: capitalize;
}
.text-primary.severity-text-medium {
	/* color: #C55D06 !important; */
	color: #FF8000 !important;
	text-transform: capitalize;
}
.text-primary.severity-text-low {
	/* color: #E3B808 !important; */
	color: #EEDD00 !important;
	text-transform: capitalize;
}

/* Uptime */
.uptime-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-top: 120px;
	padding-bottom: 120px;
	max-width: 80%;
	margin: 0 auto;
}
  
.uptime-status {
	padding: 8px;
}
  
.uptime-status.bg-red-600 {
	background-color: #e3342f;
}
  
.uptime-status.bg-green-600 {
	background-color: #38c172;
}
  
.uptime-status h2 {
	font-weight: 600;
	color: white;
	font-size: 1.5rem;
}
  
.uptime-about-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 16px;
}
  
.uptime-about-section h2 {
	font-weight: 600;
	font-size: 1.25rem;
}
  
.uptime-link {
	color: #38c172;
}
  
.uptime-footer {
	margin-top: 40px;
	text-align: right;
	font-size: 0.875rem;
}

.uptime-footer p{
	margin-bottom: 0px;
}
  
.uptime-border-box {
	border: 1px solid #e2e8f0;
	border-radius: 0.375rem;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* Uptime Calendar */
  
.system-status-title {
	font-weight: 600;
	color: white;
	font-size: 24px;
	background-color: #4a5568;
	padding: 8px;
}
  
.uptime-dropdown-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
  
.uptime-calendar-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	margin-top: 2.5rem;
}

@media (min-width: 1024px) {
	.uptime-calendar-container {
		flex-direction: row;
	}
}
    
.uptime-link-container {
	display: flex;
	justify-content: space-between;
}
  
.uptime-back-link {
	color: #38a169;
	display: flex;
	gap: 4px;
	align-items: center;
}

.uptime-arrow-icon {
	font-size: 10px;
}

/* StripeBar */
.stripebar-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.stripebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stripebar-title {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.stripebar-operational {
    color: #16a34a; /* Equivalent to tailwind's green-600 */
}

.stripebar-bar-container {
    display: flex;
    justify-content: space-between;
}

.stripebar-bar {
    width: 5px;
    height: 2rem;
    cursor: pointer;
}

.bg-gray-500 {
    background-color: #6b7280; /* Equivalent to tailwind's gray-500 */
}

.bg-green-600 {
    background-color: #16a34a; /* Equivalent to tailwind's green-600 */
}

.bg-red-600 {
    background-color: #dc2626; /* Equivalent to tailwind's red-600 */
}

.stripebar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #4b5563; /* Equivalent to tailwind's gray-600 */
}

.separator-line {
    background-color: #9ca3af; /* Equivalent to tailwind's gray-400 */
    min-width: 200px;
    height: 1px;
}

/* CRMbar */
.crmbar-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.crmbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crmbar-title {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.crmbar-operational {
    color: #16a34a; /* Equivalent to tailwind's green-600 */
}

.crmbar-bar-container {
    display: flex;
    justify-content: space-between;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.crmbar-bar {
    width: 5px;
    height: 2rem;
    cursor: pointer;
}

.bg-green-600 {
    background-color: #16a34a; /* Equivalent to tailwind's green-600 */
}

.bg-red-600 {
    background-color: #dc2626; /* Equivalent to tailwind's red-600 */
}

.bg-gray-500 {
    background-color: #6b7280; /* Equivalent to tailwind's gray-500 */
}

.bg-yellow-500 {
    background-color: #e9d415;
}

.crmbar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #4b5563; /* Equivalent to tailwind's gray-600 */
}

.separator-line {
    background-color: #9ca3af; /* Equivalent to tailwind's gray-400 */
    min-width: 200px;
    height: 1px;
}

/* Question popup */
.question-popup-container {
    position: relative;
}

.question-popup-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.25rem; /* Equivalent to tailwind's gap-1 */
    background-color: black;
    border: 1px solid #d1d5db; /* Equivalent to tailwind's border-gray-300 */
    padding: 1rem;
    border-radius: 0.375rem; /* Equivalent to tailwind's rounded */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to tailwind's shadow-md */
    bottom: 1.5rem; /* Equivalent to tailwind's bottom-6 */
    z-index: 10;
    min-width: 300px; /* Equivalent to tailwind's min-w-[300px] */
    color: white;
    left: -60px;
}

.question-popup-name {
    font-weight: 600;
    font-size: 0.75rem; /* Equivalent to tailwind's text-xs */
}

.question-popup-arrow {
    position: absolute;
    width: 1.5rem; /* Equivalent to tailwind's w-6 */
    height: 1.5rem; /* Equivalent to tailwind's h-6 */
    background-color: black;
    transform: rotate(45deg);
    bottom: 3rem; /* Equivalent to tailwind's bottom-12 */
    left: 50%; /* Equivalent to tailwind's left-1/2 */
    top: -38px; /* Adjusted as per requirement */
    z-index: 999;
}

/* Calendar View */
.uptime-calendar-view {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Equivalent to tailwind's gap-4 */
    padding: 1rem; /* Equivalent to tailwind's p-4 */
}

.uptime-calendar-header {
    display: flex;
    justify-content: space-between;
}

.uptime-header-title {
    font-weight: 600; /* Equivalent to tailwind's font-semibold */
}

.uptime-header-percentage {
    font-size: 0.875rem; /* Equivalent to tailwind's text-sm */
}

.uptime-calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr)); /* Equivalent to tailwind's grid-cols-7 */
    gap: 1rem; /* Equivalent to tailwind's gap-4 */
}

.uptime-calendar-cell {
    width: 2rem; /* Equivalent to tailwind's w-8 */
    height: 2rem; /* Equivalent to tailwind's h-8 */
    cursor: pointer;
}

.bg-up {
    background-color: #16a34a; /* Equivalent to tailwind's bg-green-600 */
}

.bg-down {
    background-color: #dc2626; /* Equivalent to tailwind's bg-red-600 */
}

.bg-neutral {
    background-color: #6b7280; /* Equivalent to tailwind's bg-gray-500 */
}

.bg-yellow-neutral {
    background-color: #e9d415;
}

.uptime-calendar-selected-cell {
    border: 2px solid #6b7280; /* Equivalent to tailwind's border-2 and border-gray-500 */
}

.uptime-calendar-empty-cell {
    visibility: hidden;
}

/* Date Range */
.date-range {
    display: flex;
    gap: 1rem; /* Equivalent to tailwind's gap-4 */
    align-items: center;
}

.date-range h2 {
	margin-bottom: 0px;
}

.date-range .button {
    padding: 0.5rem; /* Equivalent to tailwind's p-2 */
    border: 1px solid #ddd; /* Tailwind's border class */
    border-radius: 0.25rem; /* Equivalent to tailwind's rounded class */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-range .icon-disabled {
    color: #6b7280; /* Equivalent to tailwind's text-gray-500 */
}

/* DropDown */
.uptime-dropdown {
    width: 100%;
	position: relative;
}

@media (min-width: 1024px) {
    .uptime-dropdown {
        width: 50%;
		position: relative;
    }
}

.uptime-dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem; /* Equivalent to some padding provided by Tailwind */
    border: 1px solid #ccc;
    cursor: pointer;
}

.uptime-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
}

.uptime-dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.uptime-dropdown-item:hover {
    background-color: #f8f8f8; /* Light gray background on hover */
}

/* popup */
.uptime-relative {
    position: relative;
}

.uptime-absolute {
    position: absolute;
}

.uptime-popup-content {
	position: absolute;
    display: flex;
    flex-direction: column;
	text-align: left;
    gap: 0.25rem; /* Equivalent to Tailwind's gap-1 */
    background-color: white;
    border: 1px solid #d1d5db; /* Equivalent to Tailwind's border-gray-300 */
    padding: 1rem; /* Equivalent to Tailwind's p-4 */
    border-radius: 0.25rem; /* Equivalent to Tailwind's rounded */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow similar to Tailwind */
    top: 3rem; /* Equivalent to top-12 */
    left: -4.5rem; /* Equivalent to left-[-72px] */
    z-index: 10;
    width: 300px; /* Equivalent to w-[300px] */
}

.font-semibold {
    font-weight: 600;
}

.text-xs {
    font-size: 0.75rem; /* Equivalent to Tailwind's text-xs */
}

.uptime-popup-arrow {
	position: absolute;
    margin-top: 2.5rem; /* Equivalent to mt-10 */
    width: 1.5rem; /* Equivalent to w-6 */
    height: 1.5rem; /* Equivalent to h-6 */
    background-color: white;
    border-top: 1px solid #d1d5db; /* Equivalent to Tailwind's border-t */
    border-left: 1px solid #d1d5db; /* Equivalent to Tailwind's border-l */
    transform: rotate(45deg);
    bottom: -0.5rem; /* Equivalent to -bottom-2 */
    left: 50%; /* Center horizontally */
    margin-left: -0.75rem; /* Equivalent to Tailwind's -ml-3 */
    top: -3px; /* Equivalent to top-[-3px] */
    z-index: 999;
}
